@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-primaria: #000;
    --cor_secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor_secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 20px;
}
.menu__link{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 18px;
    color: var(--cor-terciaria);
    text-decoration: none;

}

.container{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destaque-azul{
    color: var(--cor-terciaria);
}

.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.conteudo__titulo{
    font-family: var(--fonte-primaria);
    font-size: 1.75rem;
}
.conteudo__paragrafo{
    text-align: justify;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
}

.foto-perfil{
    width: 35%;
}

.links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 20px;
}

.links__link{
    display: flex;
    justify-content: center;
    align-items:end;
    gap: 10px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    padding: 10px 0 18px 0;
    font-size: 1.12rem;
    color: var(--cor_secundaria);
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    transition: 0.3s;
}
.links__link:hover{
    background-color: var(--cor-hover) ;
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    text-align: center;
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 18px;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;

    }
    .cabecalho__menu{
        justify-content: center;
    }
    .container{
        flex-direction: column-reverse;
        padding: 5%;
        gap: 15px;
    }
    .conteudo{
        gap: 15px;
        width: auto;
    }
    .foto-perfil{
        width: 50%;
    }
}